@import "tailwindcss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.semester-nav {
  @apply  relative flex p-3 items-center justify-between gap-3 rounded-2xl bg-white/90 px-3 shadow-lg ;
}

.heading{
  @apply font-bold text-2xl
}
.nav-link {
  @apply no-underline text-gray-700 py-2 px-4 rounded transition-all duration-300 ;
}

.nav-link:hover {
  @apply bg-gray-200;
}

main {
  @apply max-w-[1200px] mx-auto p-5  w-full;
}

.card {
  @apply bg-white p-5 rounded-lg shadow-sm flex justify-around items-start gap-6 flex-col  ;
}

@media (max-width: 768px) {
  .semester-nav {
    @apply flex-wrap gap-3 mb-4;
  }
  
  .nav-link {
    @apply flex-1 basis-[40%] text-center;
  }
  .card{
    @apply flex-col gap-4;
  }
}