
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grechen+Fuemen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');




@import "tailwindcss";

@theme{
  --font-Flux : "Afacad Flux", serif;
  --font-Grechen :"Grechen Fuemen", serif;
  --font-Arsenal : "Arsenal SC", serif;
  

}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: blackscale;
  background-color: #f2e9e4; /* Updated background color */
}


/* Dark mode styles */
.dark {
  background-color: #000;
  color: #fff;
}

.dark .nav-link {
  color: #fff;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  text-align: center;
}

.semester-nav {
  @apply  relative flex p-3 items-center justify-between gap-1 sm:gap-3 flex-wrap rounded-2xl bg-white/90 px-3 shadow-lg my-6 sm:my-10;
}

.heading{
  @apply font-bold text-2xl
}
.nav-link {
  @apply no-underline text-black py-2 px-2 sm:px-4 rounded transition-all duration-300;
}
.active {
  @apply bg-black text-white
}
.nav-link:hover {
  @apply bg-gray-200;
}

main {
  @apply max-w-[1200px] mx-auto p-5  w-full;
}

.card {
  @apply bg-white p-5 rounded-lg shadow-sm flex justify-around items-start gap-6 flex-col  ;
}

.pyq-btn{
  @apply flex-1 sm:flex-none px-4 sm:px-6 py-2 bg-[#22223b] text-white rounded-lg hover:bg-blue-600 transition-colors duration-200 text-sm sm:text-base text-center
}
.notes-btn{
  @apply flex-1 sm:flex-none px-4 sm:px-6 py-2 bg-[#588157] text-white rounded-lg hover:bg-green-600 transition-colors duration-200 text-sm sm:text-base text-center
}


@media (max-width: 768px) {
  .semester-nav {
    @apply flex-wrap gap-3 mb-4;
  }
  
  .nav-link {
    @apply flex-1 basis-[40%] text-center;
  }
  .card{
    @apply flex-col gap-4;
  }
}
